<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Streamify++ Images</title>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link rel="stylesheet" th:href="@{/css/streaming.css}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

    <!--Font awesome-->
    <script src="https://kit.fontawesome.com/e05be2ffcc.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
</head>
<body class="d-flex flex-column">
<!-- Navigation-->
<!-- Mush have placeholder present on every page(jQuery needs to load before bootstrap) -->
<div id="navbar-placeholder"></div>
<script>
    $(document).ready(function(){
        $("#navbar-placeholder").load("/sharedElements/navbar.html");
    });

    document.addEventListener("DOMContentLoaded", function() {
    const images = document.querySelectorAll('.card-img-top');
    const modalImage = document.getElementById('modalImage');

    images.forEach(image => {
        image.addEventListener('click', function() {
            modalImage.src = this.src; // Set the source of the modal image to the source of the clicked image
            $('#imageModal').modal('show'); // Show the modal (using jQuery here as Bootstrap's JS depends on it)
        });
    });
});

</script>

<!-- Section-->
<section class="py-5 tags-section-gradient">
    <div class="container px-4 px-lg-5 mt-5 d-flex flex-column justify-content-center align-items-center">
        <a th:href="@{/images/showFormForAddImage}" class="btn custom-add-button text-white btn-outline-light btn-lg mb-3 mr-2">
            <i class="bi bi-folder-plus"></i> Add image
        </a>
        <br>
        <div class="container-fluid">
            <div class="px-lg-5">
                <div class="row">
                    <!-- Loop over the images list -->
                    <div th:each="image : ${images}" class="col-xl-3 col-lg-4 col-md-8 mb-4">
                        <!-- Gallery item -->
                        <div class="bg-white rounded shadow-sm">
                            <img th:src="${image.content}" alt="" class="img-fluid card-img-top" data-toggle="modal" data-target="#imageModal">
                            <div class="p-4">
                                <div class="d-flex justify-content-center align-items-center">
                                    <a th:href="@{/images/showFormForUpdateImage(imageId=${image.id})}" class="btn custom-gradient text-white btn-sm mr-4">
                                        <i class="bi bi-pen"></i>
                                    </a>
                                    <a th:href="@{/images/delete(imageId=${image.id})}" class="btn btn-danger btn-sm" onclick=" if (!(confirm('Are you sure you want to delete this image?'))) return false">
                                        <i class="bi bi-trash-fill"></i>
                                    </a>
                                </div>
                                <div class="d-flex align-items-center justify-content-between rounded-pill bg-light px-3 py-2 mt-4">
                                    <p class="small mb-0">
                                        <i class="fa fa-picture-o mr-2"></i>
                                        <span class="font-weight-bold">WEB</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <!-- End of Gallery item -->
                    </div>
                    <!-- End of loop -->
                </div>
            </div>
        </div>

    </div>

    <!-- The Modal -->
    <div class="modal fade" id="imageModal">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-body d-flex justify-content-center align-items-center">
                    <img src="" id="modalImage" class="img-fluid">
                </div>
                <div class="modal-footer justify-content-center">
                    <button type="button" class="btn custom-gradient text-white" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

</section>
<!-- Footer-->
<footer class="py-5 custom-gradient mt-auto">
    <div class="container"><p class="m-0 text-center text-white">avuksan &copy; Streamify++ 2023</p></div>
</footer>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
</body>
</html>
